.icon-visibility-button {
	background-image: url('../img/cvlogo.png');
}
.cadviewer-open main#content {
    position: absolute !important;
}
.cadviewer-open {
    overflow: hidden !important;
}

.cadviewer-open aside.app-sidebar {
    position: fixed !important;
    z-index: 10000  !important;
}